<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/layouts/style.css">
<link rel="stylesheet" href="/css/layouts/index.css">

<title>index</title>

</head>

<body class="flex-ar">

	<main id="main">
		<h1 class="hidden">index</h1>
		<div class="container">
			<nav class="top-menu">
				<h1 class="hidden">top-menu</h1>
				<ul class="flex-ar">
					<li class="hexagon-wrapper">
						<div class="hexagon flex-ar">
							<a href="/prod/list"> <span class="text">Product</span>
							</a>
						</div>
					</li>
					<li class="hexagon-wrapper">
						<div class="hexagon flex-ar">
							<a href="/youtube/video/list"> <span class="text">Youtube</span>
							</a>
						</div>
					</li>
					<li class="hexagon-wrapper">
						<div class="hexagon flex-ar">
							<a href="/stock/list"> <span class="text">Stock</span>
							</a>
						</div>
					</li>
				</ul>
			</nav>
			<div id="login-menu" class="flex-center">
				<a href="/member/kakaologin">
					<img src="/images/kakaologin.png">
				</a>
				<a href="/member/naverlogin">
					<img src="/images/naverlogin.png">
				</a>
			</div>
			<nav class="bottom-menu">
				<h1 class="hidden">bottom-menu</h1>
				<ul class="flex-ar">
					<li class="hexagon-wrapper">
						<div class="hexagon flex-ar">
							<a href="/photo/list"> <span class="text">Photo</span>
							</a>
						</div>
					</li>
					<li class="hexagon-wrapper">
						<div class="hexagon flex-ar">
							<a href="/mgt/mian/list"> <span class="text">Manage<br />ment
							</span>
							</a>
						</div>
					</li>
					<li class="hexagon-wrapper">
						<div class="hexagon flex-ar">
							<a href="/untitled/list"> <span class="text">Untitled</span>
							</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</main>

</body>
</html>