.title {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 2.5em;
	padding-top: 20px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="submit"] {
	margin: 2.5px;
	padding: 0px 5px;
}

input[type="button"] {
	margin: 2.5px;
	padding: 0px 5px;
}

input[type="text"] {
    border: none;
    width: 90%;
    height: 100%;
    padding: 0px 5px;
}

.notice-review input:hover {
	opacity: 0.5;
}

.notice-review {
	width: 100%;
	font-size: 0.9em;
}

.container {
	width: 90%;
	margin: 40px auto;
}

.container-table {
	width: 90%;
	margin: 30px auto 20px auto;
}

.notice-table {
    width: 60%;
    margin: 10px auto;
    border: solid 1px #cccccc;
}

thead {
    border: solid 1px #cccccc;
}

.notice-table tr td {
	padding: 10px;
}

.notice-table tr th {
    padding: 10px;
    background-color: #eeeeee;
    font-size: 0.9em;
	font-weight: bold;
}

.notice-table>thead>tr>td {
	font-size: 0.9em;;
	font-weight: bold;
}

.notice-table>thead th {
    width: 20%;
    text-align: center;
    border-bottom: solid 1px #cccccc;
}

.notice-table>thead td {
    text-align: left;
    border-bottom: solid 1px #cccccc;
    padding-left: 20px;
}

textarea {
    width: 90%;
    padding: 15px;
	margin: 0px auto;
	border: none;
}

.bottom-btn {
	padding: 10px;
}

