<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layout">

<!-- css -->
<th:block layout:fagement="css">
	<link rel="stylesheet" href="/css/contents/untitled/list.css">
</th:block>

<!-- js -->

<!-- content -->
<main id="main" layout:fragment="content">

	<section>
		<h1 class="font-size-30">공지사항</h1>
	</section>

	<section class="search">
		<h1 class="hidden">문의사항 검색폼</h1>
		<form class="search-form">
			<fieldset>
				<legend class="hidden">문의사항 검색필드</legend>

				<label class="hidden">검색분류</label> <select name="f">
					<option ${(param.f== "title")?"selected":""} value="title">제목</option>
					<option ${(param.f== "content")?"selected":""} value="content">내용</option>
					<option ${(param.f== "writerId")?"selected":""} value="writerId">작성자</option>
				</select> <label class="hidden">검색어</label> <input class="search-text"
					type="text" name="q" placeholder="검색어를 입력하세요"> <input
					class="search-button" type="submit" value="검색">
			</fieldset>
		</form>
	</section>

	<section class="list">
		<form action="list" method="post">
			<h1 class="hidden">게시글 목록</h1>
			<table class="table">
				<thead>
					<tr>
						<td class="col-num">번호</td>
						<td class="col-exp">제목</td>
						<td class="col-text">작성자</td>
						<td class="col-num">조회수</td>
						<td class="col-text">작성일</td>
						<td class="col-text">공개/비공개</td>
					</tr>
				</thead>

				<tbody>
					<th:each var="n" items="${list}" varStatus="st">
						<th:with var="open" value="" />
						<th:block th:if="${n.pub}" th:with var="open" value="checked">
						</th:block>
						<tr>
							<td>${n.id}</td>
							<td class="title"><a href="detail?id=${n.id}">${n.title
									}</a><span>[${n.cmtCount}]</span></td>
							<td>${n.writerId}</td>
							<td>${n.hit}</td>
							<td>${n.regdate}</td>
							<td class="file"><input type="checkbox" name="open-id"
								${open} value="${n.id}"></td>
						</tr>
					</th:each>
				</tbody>
			</table>

			<section class="write">
				<h1 class="hidden">문의하기</h1>
				<div>
					<th:with var="ids" value="" />
					<th:each var="n" items="${list}">
						<th:with var="ids" value="${ids} ${n.id}" />
					</th:each>
					<input type="hidden" name="ids" value="${ids} ${n.id}"> <input
						type="submit" name="cmd" value="open"> <a href="reg">글쓰기</a>
				</div>
			</section>
		</form>
		<section class="page">
			<h1 class="hidden">페이지</h1>

			<th:with var="page" value="${(empty param.p)?1:param.p}" />
			<th:with var="startNum" value="${page-(page-1)%5}" />
			<th:with var="lastNum"
				value="${fn:substringBefore(Math.ceil(count/10), '.')}" />

			<div>
				<a th:if="${startNum>1}" href="?p=${startNum-1}&f=&q=" class="prev">이전</a>
				<span th:unless="${startNum<=1}" class="prev"
					onclick="alert('이전페이지가 없다.')">이전</span>
			</div>

			<ul>
				<th:each var="i" begin="0" end="4">
					<li th:if="${(startNum+i) <= lastNum}"><a
						href="?p=${startNum+i}&f=&q="
						class="${(page==(startNum+i))?'text-highlight':''} font-weight-bold">${startNum+i}</a></li>
				</th:each>
			</ul>
			<div>
				<a th:if="${startNum+4<lastNum}" href="?p=${startNum+5}&f=&q="
					class="next">다음</a>
				<span th:if="${startNum+4>=lastNum}"
					class="next" onclick="alert('다음페이지가 없다.')">다음</span>
			</div>
		</section>
	</section>

</main>

</html>