<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside id="aside" th:fragment="asideFragment">

	<h1 class="hidden">side-bar</h1>
	<ul class="side-list">
		<li>
			<div class="medium-category">
				<a href="">Product</a>
			</div>
			<div>
				<div class="small-category">
					<a href="">menu-1</a>
				</div>
				<div class="small-category">
					<a href="">menu-2</a>
				</div>
			</div>
		</li>
		<li>
			<div class="medium-category">
				<a href="">Youtube</a>
			</div>
			<div>
				<div class="small-category">
					<a href="">Video</a>
				</div>
				<div class="small-category">
					<a href="">Channel</a>
				</div>
			</div>
		</li>
		<li>
			<div class="medium-category">
					<a href="">Stock</a>
			</div>
			<div>
				<div class="small-category">
					<a href="">menu-1</a>
				</div>
				<div class="small-category">
					<a href="">menu-2</a>
				</div>
			</div>
		</li>
		<li>
			<div class="medium-category">
				<a href="">Photo</a>
			</div>
			<div>
				<div class="small-category">
					<a href="">menu-1</a>
				</div>
				<div class="small-category">
					<a href="">menu-2</a>
				</div>
			</div>
		</li>
		<li>
			<div class="medium-category">
				<a href="">Management</a>
			</div>
			<div>
				<div class="small-category">
					<a href="">main</a>
				</div>
				<div class="small-category">
					<a href="">notice</a>
				</div>
				<div class="small-category">
					<a href="">report</a>
				</div>
			</div>
		</li>
		<li>
			<div class="medium-category">
				<a href="">Untitled</a>
			</div>
			<div>
				<div class="small-category">
					<a href="">menu-1</a>
				</div>
				<div class="small-category">
					<a href="">menu-2</a>
				</div>
			</div>
		</li>
	</ul>

</aside>

</html>